* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    background-image: url(/back.jpg);
    background-position: center;
    background-size: cover;
}

.quotebox {
    background: rgb(251, 220, 134);
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 1);

}

.quotebox h2 {
    font-size: 45px;
    margin-bottom: 40px;
    position: relative;
    transition: 1s;
}

.quotebox h2:hover {
    transform: scale(1.2);
}

.quotebox h2::after {
    content: '';
    width: 232px;
    height: 3px;
    border-radius: 3px;
    background: rgb(212, 69, 179);
    position: absolute;
    bottom: -6px;
    left: 51%;
    transform: translateX(-50%);

}

.quotebox blockquote {
    font-size: 30px;
    min-height: 110px;
}

.quotebox blockquote::before,
.quotebox blockquote::after {
    content: '"';
}

.quotebox span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-size: 18px;
}

.quotebox span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(222, 108, 218);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quotebox div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quotebox button {
    background: black;
    color: white;
    border-radius: 28px;
    border: 1px solid rgb(222, 108, 218);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px;
    font-size: 18px;
    cursor: pointer;
}

.quotebox button:hover {
    background: rgb(233, 52, 190);
}

.quotebox button img {
    width: 28px;
    margin-right: 5px;
}

/* .quotebox button:nth-child(2){
    background: transparent;
    color: black;

} */